---
const { number, message, buttonMessage } = Astro.props;
---

<a href=`https://wa.me/${number}?text=${message}` class="text-center bg-sand text-perl rounded-full p-2 border border-sand hover:bg-beige hover:text-sand">
  { buttonMessage }
</a>
