---
import { Icon } from 'astro-icon/components';
---
<div class="bg-cover bg-center h-176 bg-[url('/src/assets/images/hands.jpg')]">
  <div class="flex flex-col items-center justify-end h-full bg-black bg-opacity-30">
    <h1 class="text-6xl text-center font-main text-balance text-perl ">Isis Vargas & Alex Prado</h1>
    <div class="separator-md text-sand mt-8 "></div>
    <p class="text-3xl text-light_blue font-wedding">¡Nuestra boda!</p>
    <p class="text-1lg  text-light_blue font-wedding">19 / Octubre / 2024</p>
    <div class="separator-md text-sand mt-1 mb-14"></div>
  </div>
</div>